<div class="olix-sidebar" role="navigation">
    {{ block('olix_admin_sidebar') }}
    <div class="olix-sidebar-toggle hidden-xs hidden-sm" id="olixSidebarToggle">
        <span class="fa fa-chevron-circle-left fa-lg"></span>
    </div>
</div>