{% extends 'OlixAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block header1 %}{{ parent() }}{% endblock %}
{% block header2 %}{{ parent() }}{% endblock %}
{% block breadcrumb %}{{ parent() }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            Ici le contenu de la page
        </div>
    </div>

{% endblock %}