{% extends 'OlixAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            Ici le contenu de la page : <b>{{ page_name }}</b>
        </div>
    </div>

{% endblock %}