@CHARSET "UTF-8";

body {
    padding-top: 50px;
    background-color: #ececec;
}


/**
 * Barre du haut fixé (hauteur calculé de 55px)
 */
.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    padding: 5px;
}
/* fixe la taille du logo de la marque */
.navbar-brand img {
    height: 40px;
}


/**
 * Avatar dans la barre de navigation
 */
@media (min-width: 768px) {
    .navbar .olix-avatar {
        margin-top: -7px;
    }
}
.navbar .olix-avatar img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    padding: 0;
}
/* avatar mode mobile */
.navbar button.olix-avatar {
    padding: 0;
}
.navbar button.olix-avatar img {
    margin-right: 0 !important;
}


/**
 * Contenu principal de la page
 * Décalage vers la droite sauf sur mobile
 * Padding de 10px
 */
.olix-main {
    padding: 0px;
    background-color: #ececec;
}
@media (min-width: 768px) {
    .olix-main {
        padding-left: 200px;
        padding-right: 0px;
    }
}


/**
 * Barre de navigation de gauche
 */
/* Hide for mobile */
.olix-sidebar {
    display: none;
}
@media (min-width: 768px) {
    .olix-sidebar {
        position: fixed;
        display: block;
        width: 200px;
        top: 0px;
        bottom: 0;
        left: 0;
        background-color: #222;
        margin: 0;
        padding: 55px 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1000;
        z-index: 1000;
        border-right: 1px solid #080808;
    }
}

.olix-sidebar .caret {
    float: right;
    margin-top: 8px;
}
.olix-sidebar ul {
    background-color: #222;
}
.olix-sidebar ul ul {
    background-color: #444;
}
.olix-sidebar ul ul > li > a {
    padding: 5px 20px;
    font-size: 0.9em;
}
