@CHARSET "UTF-8";

body {
    padding-top: 50px;
    background-color: #ececec;
}


/**
 * Barre du haut fixé (hauteur calculé de 55px)
 */
.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    padding: 5px;
}
/* fixe la taille du logo de la marque */
.navbar-brand img {
    height: 40px;
}


/**
 * Avatar dans la barre de navigation
 */
@media (min-width: 768px) {
    .navbar .olix-avatar {
        margin-top: -7px;
    }
}
.navbar .olix-avatar img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    padding: 0;
}
/* avatar mode mobile */
.navbar button.olix-avatar {
    padding: 0;
}
.navbar button.olix-avatar img {
    margin-right: 0 !important;
}


/**
 * Contenu principal de la page
 */
.olix-main {
    padding: 10px;
    background-color: #ececec;
}

